---
import "../../styles/pages/tags/tag.scss";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Wrapper.astro";
import EntryCards from "../../components/main/EntryCards.astro";

// 静的サイト生成
export async function getStaticPaths() {
  // 全記事データを読み込む
  const entries = await getCollection("blog");

  // 重複を避けながらタグを抽出
  const uniqueTags: string[] = [
    ...new Set(entries.map((entry: any) => entry.data.tags).flat()),
  ];

  // タグごとに情報を生成
  return uniqueTags.map((tag: string) => {
    const filteredEntries: Object[] = entries.filter((entry: any) =>
      entry.data.tags?.includes(tag)
    );
    return {
      params: { tag },
      props: { entries: filteredEntries },
    };
  });
}

const { tag } = Astro.params;
const { entries } = Astro.props;
---

<Layout pageTitle=`${tag}のタグが付いた記事`>
  <h1 class="main__title">{tag}のタグが付いた記事</h1>
  <ul class="main__entry-cards">
    {
      entries.map((entry: any) => (
        <EntryCards
          url={`/blog/${entry.slug}/`}
          title={entry.data.title}
          pubDate={entry.data.pubDate.toString().slice(0, 10)}
          description={entry.data.description}
        />
      ))
    }
  </ul>
</Layout>
